# ===============================
# Miscellaneous
# ===============================
*.class
*.log
*.pyc
*.swp
.DS_Store
Thumbs.db
.atom/
.build/
.buildlog/
.history
.svn/
.swiftpm/
migrate_working_dir/

# ===============================
# IDEs
# ===============================
*.iml
*.ipr
*.iws
.idea/
#.vscode/

# ===============================
# Flutter / Dart
# ===============================
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
/build/
coverage/

# ===============================
# Android
# ===============================
android/.gradle/
android/local.properties
android/key.properties
*.jks

/android/app/debug
/android/app/profile
/android/app/release

# ===============================
# iOS
# ===============================
ios/Pods/
ios/Runner.xcworkspace/

# ===============================
# Firebase
# ===============================
.firebase/

# ===============================
# Environment variables / secrets
# ===============================
.env
.env.*
